.container {
    height: 600px;
    width: 300px;
    background-color: rgba(125, 125, 255, 0.382);
    border-radius: 40px;
    margin-right: 20px;
}

.myTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding-bottom: 40px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;

}


@media all and (max-width: 480px) {
    .container {
        display: none;
    }
}

@media (min-width: 481px) and (max-width:1279px) {

    .container {
        display: none;
    }
}