.spacerB {
    width: 100%;
    height: 200px;
}

.conversationMe {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    color: black;
    text-align: right;


}

.conversationthem {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    color: black;
    text-align: left;


}

.me {
    height: 100px;
    width: 30%;
    background-color: rgba(179, 27, 255, 0.576);
    margin-right: 30px;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 20px;

}

.myConvo {
    padding-right: 50px;
}

.myMessage {
    padding-right: 20px;
}

.theirText {
    padding-left: 20px;
}


.them {
    height: 100px;
    width: 30%;
    background-color: rgba(179, 27, 255, 0.792);
    margin-left: 30px;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 25px;

}

.theirName {
    padding-left: 50px;
}

.typing {
    width: 90%;
    height: 50px;
    background-color: blueviolet;
    margin-top: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.centerthediv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@media all and (max-width:480px) {
    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
    }

    .typing {
        margin-top: -5px;
        height: 30px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;
    }

}

@media (min-width: 760px) and (max-width:819px) {

    .typing {
        margin-top: 250px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 250px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 250px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }

}

@media (min-width: 820px) and (max-width:911px) {

    .typing {
        margin-top: 350px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 350px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 350px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }

}



@media (min-width: 912px) and (max-width:1023px) {

    .typing {
        margin-top: 500px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 500px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 500px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }

}


@media (min-width: 1024px) and (max-width:1279px) {

    .typing {
        margin-top: -150px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: -100px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: -100px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }

}

@media (min-width:390px) and (max-width:412px) {
    .typing {
        margin-top: 130px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 150px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 150px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }
}



@media (min-width:412px) and (max-width:480px) {
    .typing {
        margin-top: 180px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 180px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 180px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }
}


@media (min-width:360px) and (max-width:373px) {
    .typing {
        margin-top: 50px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 50px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 50px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }
}


@media (min-width:1280px) and (max-width:1400px) {
    .typing {
        margin-top: 80px;
    }

    .me {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-right: 0;
        margin-top: 80px;
    }

    .them {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-left: 0;
        margin-top: 80px;
    }

    .myConvo {
        display: none;
    }

    .theirName {
        display: none;

    }
}